from mkt.settings import *

DATABASES = {
    'default': {
        'NAME': 'zamboni',
        'ENGINE': 'django.db.backends.mysql',
        'HOST': 'localhost',
        'PORT': '',
        'USER': 'zamboni',
        'PASSWORD': 'mypass',
        'OPTIONS': {'init_command': 'SET storage_engine=InnoDB'},
        'TEST_CHARSET': 'utf8',
        'TEST_COLLATION': 'utf8_general_ci',
    },
}

# This overrides what is in lib/settings_base
# METLOG_CONF = {
#     'logger': 'zamboni',
#     'sender': {
#         'class': 'metlog.senders.StdOutSender',
#     },
#     'plugins': {
#         'raven': ('metlog_raven.raven_plugin.config_plugin',
#                   {'sentry_project_id': 1}),
#     },
# }

# Importing client_from_dict_config is not required unless you
# actually override the METLOG_CONF option. lib/settings_base will
# instantiate METLOG_CLIENT for you using the default configuration
#
# from metlog.config import client_from_dict_config
# METLOG_CLIENT = client_from_dict_config(METLOG_CONF)

SITE_URL = "http://localhost:8000"
